.detail {
  background-color: #fff;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 70px 5%;
  overflow-y: auto;
}

.back {
  width: 138px;
  height: 46px;
  cursor: pointer;
  background: transparent;
  border-radius: 6px;
  border: 0;
  box-shadow: 0 0 5px 3px rgba(51, 51, 51, 0.132);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 70px;
}
.content {
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.flag {
  width: 50%;
  height: auto;
  text-align: left;
  display: inline-block;
  min-width: 565px;
}
.flag img {
  width: 565px;
  height: 400px;
  box-shadow: 0 0 3px 3px rgba(51, 51, 51, 0.05);
}
.rightInfo {
  width: 50%;
  display: inline-block;
}

.back span {
  margin-left: 10px;
}

.infomation {
  padding: 45px 0 30px;
  text-align: left;
  width: 50%;
  float: left;
}

.infomation h3 {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: bold;
}

.infomation p {
  margin-bottom: 18px;
  font-size: 20px;
}
.infomation strong {
  margin-right: 8px;
}

.borderCountry {
  width: 100%;
  padding-top: 0;
  float: left;
}

.borderCountry strong {
  margin-right: 12px;
  font-size: 20px;
  float: left;
  margin-bottom: 25px;
}

.borderList {
  float: left;
  position: relative;
  top: -4px;
}
.borderItem {
  min-width: 78px;
  height: 37px;
  padding: 0 12px;
  background: transparent;
  border-radius: 6px;
  border: 0;
  box-shadow: 0 0 5px 3px rgba(51, 51, 51, 0.132);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  float: left;
  margin-right: 12px;
  margin-bottom: 15px;
}

@media (prefers-color-scheme: dark) {
  .detail {
    background-color: rgb(24, 33, 41);
  }
  .back {
    color: white !important;
  }
  .back,
  .borderItem {
    background-color: rgb(32, 41, 52);
    box-shadow: 0 0 5px 5px rgba(17, 16, 16, 0.047);
  }
}

@media all and (max-width: 1230px) {
  .flag,
  .rightInfo {
    width: 100%;
    text-align: center;
    min-width: unset;
  }
}
@media all and (max-width: 630px) {
  .flag img {
    width: 100%;
    height: auto;
  }
  .infomation {
    width: 100%;
  }
  .infomation:nth-child(1) {
    padding-bottom: 0;
  }
  .infomation:nth-child(2) {
    padding-top: 0;
  }
}
