.list {
  /* margin: 0 5%; */
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 25%;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

@media all and (max-width: 1288px) {
  .item {
    width: 33%;
  }
}
@media all and (max-width: 850px) {
  .item {
    width: 50%;
  }
}

@media all and (max-width: 580px) {
  .item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .item .inner {
    width: 100%;
  }
  .item .inner img {
    height: auto;
  }
}

.inner {
  width: 265px;
  box-shadow: 0 0 5px 5px rgba(26, 26, 26, 0.05);
  overflow: hidden;
  border-radius: 5px;
}

/* .item:nth-child(4n - 1),
.item:nth-child(4n - 2) {
  margin-left: 70px;
  margin-right: 70px;
} */

.inner img {
  height: 165px;
  width: 100%;
}

.inner:hover {
  cursor: pointer;
}

.infomation {
  padding: 27px 25px;
  text-align: left;
}

.infomation h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.infomation p {
  margin-bottom: 10px;
  font-size: 14px;
}
.infomation strong {
  margin-right: 8px;
}

@media (prefers-color-scheme: dark) {
  .inner {
    background-color: rgb(32, 41, 52);
  }
}
