.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 5%;
  box-shadow: 0 0 5px 5px rgba(83, 83, 83, 0.082);
}

.header h2 {
  font-size: 19px;
}

.darkmode {
  display: flex;
  align-items: center;
}

.dartText {
  margin-left: 8px;
  font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: rgb(32, 41, 52);
    box-shadow: 0 0 5px 5px rgba(17, 16, 16, 0.047);
  }
}
