.SearchView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 5%;
  margin-bottom: 40px;
}
.inputSelect {
  width: 300px;
  max-width: 100%;
  margin-top: 40px;
}

.inputSelect input {
  padding-left: 15px;
}

.countryPhone {
  margin-left: 20px;
}

.select-region {
  width: 200px;
  height: 56px;
  margin-top: 40px;
}
.selectPlacehoder {
  color: rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  .inputSelect,
  .select-region {
    background-color: rgb(32, 41, 52);
    box-shadow: 0 0 5px 5px rgba(17, 16, 16, 0.047);
    color: white !important;
  }
  .selectPlacehoder {
    color: rgba(255, 255, 255, 0.3);
  }
}
